<%- include('./parciales/header') %>

<% 
    let codigo = un_producto === null ? "" : un_producto.codigo;
    let marca = un_producto === null ? "" : un_producto.marca;
    let precio = un_producto === null ? "" : un_producto.precio;
    let foto = un_producto === null ? "" : un_producto.path;
%>

<form id="frm" enctype="multipart/form-data" class="redondeado" >
    <input type="text" name="codigo" id="codigo" placeholder="Ingrese c&oacute;digo" value="<%=codigo%>" />
    <input type="text" name="marca" id="marca" placeholder="Ingrese marca" value="<%=marca%>" />
    <input type="text" name="precio" id="precio" placeholder="Ingrese precio" value="<%=precio%>" />
    <input type="file" name="foto" id="foto" /> 
    <br>
    <% if(un_producto !== null) { %>
        <img id="img_foto" src="<%= '../'+ foto %>" width="200px" height="100px">
    <% } %>    
    <br>
    <input type="button" id="btnForm" class="MiBotonUTN" value="Guardar"  />
</form>

<%- include('./parciales/footer') %>